#contenido {

    #descripcion {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0% 5%;
        margin-top: 50px;
        align-items: center;
        border-bottom: 2px solid $colorSCG;

        .descripcion-texto {
            text-align: center;
            width: 300px;
            color: $colorSCG;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: map-get($fuentes-tamanos, parrafo); 
            }
        }

        .descripcion-img {
            padding-bottom: 50px;  
        }
    }

    #servicios {
        /* grid-area: servicios; */
        background: white;
        margin: 50px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;  

        .servicios-tit {
            color: $colorSCG;
            display: flex;
            justify-content: center;
            font-size: map-get($fuentes-tamanos, subtitulo); 
        }

        .servicios-iconos {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr;
            margin-top: 50px;

            .servicio {
                 /* border-radius: 5px;
                 padding: 20px 5px; 
                 background-color: aliceblue; */
                @extend .caja;

                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 
                 

                 h3 {
                        color: $colorSCG;
                        font-size: map-get($fuentes-tamanos, titulo-grid);
                        text-align: center;
                        padding: 0px 5px;
                }
             }
        } 

    }

    #call-cotiza {
        /* grid-area: call-cotiza; */
        display: flex;
        flex-direction: column;
        /* background-color: #2368AD; */
        background: linear-gradient(to top, #2368AD, #2b80d4);
        align-items: center;
        text-align: center;
        color: white;
        padding: 80px;

        h2 {
            font-size: map-get($fuentes-tamanos, titulos);
            margin-bottom: 20px;
        }

        a {
           @include boton;

            &:hover{
                color: aliceblue;
                background-color:$colorSCG;
            }
        }
    }

    #clientes {
        /*  grid-area: clientes; */
         background-color: white;
         padding: 50px;
         margin-bottom: 30px;

         h2 {
            color: $colorSCG;
            display: flex;
            justify-content: center;
            font-size: map-get($fuentes-tamanos, titulos);
            text-align: center;
            margin-bottom: 30px;
         }

        .citas {
            div {
                .col{
                    .cita-cliente {
                        /* padding: 30px 10px 15px 10px !important;
                        text-align: center;
                        border-radius: 5px;
                        background-color: aliceblue; */
                        @extend .caja;
                        position: relative; 

                        img {
                            position: absolute;
                            top: -20px;
                            left: 20px;
                        }

                        h4 {
                            font-size: map-get($fuentes-tamanos, titulo-grid);
                            color: $colorSCG;
                            margin-bottom: 5px;
                        }

                        h5 {
                            color: darkgray;
                        }

                        h6 {
                            color: darkgray;
                        }
                    }
                }
            }
        }
    }


    #titulo-qs {
        background-image: url(../imagenes/Imagen-qs.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        height: 40vh;
        margin: 50px;

        h2 {
            font-size: map-get($fuentes-tamanos, titulos);
            color: white;
        }
    }

    #info {

        .descripcion {
            p {
                max-width: 500px;
                text-align: justify;
                 font-size: 22px;
                 color: $colorSCG; 
            }
        }
        
        .mv {
            display: grid;
            gap: 80px;
            margin: 50px; 

            .mv-contenido {
                color: $colorSCG;

                h3 {
                    font-size: 40px;
                }

                p {
                    font-size: map-get($fuentes-tamanos, parrafo);
                    text-align: justify;
                }
            }

    

            .mision {
                h3 {
                    text-align: right; 
                }
            }
        }
    }

    #servicios {
        margin: 50px;

        .tit-servicios {
            font-size: map-get($fuentes-tamanos, titulos);
            color: #2368AD;
            text-align: center;
            margin-bottom: 50px; 
        }

        .servicios-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;

            .servicio-elemento {
                display: flex;
                flex-direction: column;
                color: #2368AD;
                background-color: aliceblue;
                padding: 50px;
                border-radius: 20px;
                align-items: center;

                h3 {
                    font-size: map-get($fuentes-tamanos, subtitulo);
                    padding: 10px; 
                }

                p {
                    font-size: map-get($fuentes-tamanos, parrafo);
                    padding: 10px;
                    text-align: justify;  
                }

                img {
                    width: 300px;
                    height: 250px;
                    border-radius: 20px;
                    margin-top: 10px;  
                }
            }
        }

        div {
            div {
                .card.body{
                    color: $colorSCG;
                }

                .card-footer {
                    background-color: aliceblue !important;
                }
            }
        }

    }

    #galeria {
        div {
            .col-lg-4 {
                margin: 0 !important;
                padding: 25px; 
            }

            div {
                img {
                    width: 100%;
                    height: 400px;  
                }
            }
        }
    }

    #cotiza {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 10px;
        background: aliceblue;
        color:$colorSCG;

        div {
            background-color: white;
            border-radius: 10px; 
        }

        .cotiza-contenedor {
            max-width: 700px;
            background: white;
            padding: 100px 120px;
            border-radius: 10px;
            color: $colorSCG; 

            h2 {
                font-size: map-get($fuentes-tamanos, form);
                font-weight: 500; 
            }

            .formulario {
                display: flex;
                flex-direction: column;

                .form-entrada {
                    padding-top: 20px;

                    input {
                        height: 45px;
                        width: 100%;  
                    }

                    .radios {
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        align-items: center;
                        position: relative;
                        
                        .radios {
                            height: 15px;
                            width: 100%;
                        }
                    }

                    .detalles {
                        width: 460px;
                        height: 50px;
                        transition: height 500ms;   

                        &:focus {
                            height: 162px  
                        }
                    }
                }
            }
        }
    }
}