@media (min-width: 768px) {

    #cabecera-index {

        nav {
            display: none;
        }

        .cabecera-barra-index {
            display: flex;
            /* flex-direction: column; */
            justify-content: space-between;
            align-items: center;
            padding: 10px 5% 5px 5%;
            flex-direction: row; 
        }

        .cabecera-redes {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            gap: 10px;
        }

        .cabecera-nav-index {
            display: block;
            ul {
                li {
                    .inicio {
                        display: block;
                    }
                }
            }
        }  
    
    }
    #cabecera {

        nav {
            display: none;
        }

       .cabecera-barra {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5% 5px 5%;
        background-color: $colorSCG; flex-direction: row;
        }

        .cabecera-nav {
            display: block;
            ul{
                li{
                    .inicio {
                        display: block;
                    }
                }
            }
        }
    } 
    
    #contenido {
        #servicios {
            .servicios-iconos {
                grid-template-columns: 1fr 1fr;
            }
        }

        #info {
            .descripcion {
                p {
                    max-width: 700px;
                     font-size: 22px;
                }
            }

            .mv {
               
                .mv-contenido {
    
                    h3 {
                        font-size: 40px;
                    }
    
                    p {
                        font-size: 22px;
                        text-align: justify;
                    }
                }

            }
        }
    }

    #pie {
        .pie-contenedor {
            flex-direction: row;

            .pie-redes {
                img {
                    width: 30px;
                    margin-right: 5px;
                    margin-top: 15px;

                }
            }
        }
    }

}

@media (min-width: 992px) {

    #cabecera-index {
        .cabecera-nav-index {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #cabecera {
        .cabecera-nav {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #contenido{
        #descripcion {
            flex-direction: row;
        }

        #info {
            .descripcion {
                p {
                    max-width: 900px;
                     font-size: 24px;
                }
            }

            .mv {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 80px;
                margin: 50px;  
    
                .mv-contenido {
                    color: $colorSCG;
    
                    h3 {
                        font-size: 40px;
                    }
    
                    p {
                        font-size: 24px;
                        text-align: justify;
                    }
                }
    
                .vision {
                    grid-row: 2/3;
                    grid-column: 2/3;
                }
    
                .mision {
                    h3 {
                        text-align: right; 
                    }
                }
            } 
        }

        

        #servicios {
            .servicios-iconos {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
