#pie {
    background: $colorSCG;
    padding: 20px;

    .pie-contenedor {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;

     .pie-logo {
         img {
             width: 200px;
            }
        
        }
     .pie-redes {
         img {
                width: 30px;
                margin-right: 20px;
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
     .pie-contacto {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .dato {
                display: flex;
                align-items: center;
                color: aliceblue;

                img {
                    width: 25px;
                }

                p {
                    margin-left: 5px;
                    padding: 0;
                    margin-bottom: 0;
                }
            
            }
        }
    }
    
}