$colorSCG: #2368AD;
$color2SCG: #C73930;

/* mapas */

$fuentes-tamanos: (
    titulos: 50px,
    subtitulo: 25px,
    parrafo: 20px,
    parrafo-dos: 25px,
    nav: 18px,
    form: 30px,
    titulo-grid: 15px
);

/* mixin */

@mixin boton {
    text-decoration: none;
                color: $colorSCG;
                background-color: white;
                padding: 7px 12px;
                border-radius: 50px;
                text-align: center;
                transition: color, background-color 500ms;


}

 /* extend */     
 
 .caja {
    padding: 30px 10px 15px 10px !important;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;  
 }

@import "cabecera-index";
@import "cabecera";
@import "contenido";
@import "pie";
@import "media";

@keyframes logo-animacion {
    0% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
    
}
