$colorSCG: #2368AD;
$color2SCG: #C73930;

/* mapas */

$fuentes-tamanos: (
    titulos: 50px,
    subtitulo: 25px,
    parrafo: 20px,
    parrafo-dos: 25px,
    nav: 18px,
    form: 30px,
    titulo-grid: 15px
);

/* mixin */

@mixin boton {
    text-decoration: none;
                color: $colorSCG;
                background-color: white;
                padding: 7px 12px;
                border-radius: 50px;
                text-align: center;
                transition: color, background-color 500ms;


}

 /* extend */     
 
 .caja {
    padding: 30px 10px 15px 10px !important;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;  
 }

 /* Cabecera - Index */

 #cabecera-index {
    width: 100%;
    height: 100vh;
    background-image:url(../imagenes/Banner_header.png);
    background-position: center;
    background-size: cover;

    nav {
        div {
            div {
                background-color: $colorSCG;
            }
        }
    }

    .cabecera-título {
            margin: 7% 5%;
            color: white;

             a {
                @include boton; 
            
                &:hover{
                    color: aliceblue;
                    background-color:$colorSCG;
                }
            } 

            h1 {
                font-size: map-get($fuentes-tamanos, titulos );
                text-align: left;

                p {
                    color: $color2SCG;
                    font-size: 60;
                    display: inline
                }
            }

            .cabecera-parrafo {
                font-size: map-get($fuentes-tamanos, parrafo );
                width: 350px;
                text-align: left;
            }
        }

    .cabecera-barra-index {
       /*  display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5% 5px 5%; */
        display: none;


        .cabecera__logo {
            /*  margin-top: 10px;   */
             animation-name: logo-animacion;
             animation-duration: 1s;
             animation-timing-function: ease-in;
         
         }

        
    }

    .cabecera-redes {
        display: none;
        /*  display: flex;
        flex-direction: column;
        align-items: flex-end; */
    }

    .cabecera-nav-index {
        display: none;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px;

            li {
                a {
                    margin: 10px;
                    color: white;
                    text-decoration: none;
                    font-size: map-get($fuentes-tamanos, nav); 
                   
                } 
                .inicio{
                        display: none;
                    }
            }

        }
    }
}


@media (min-width: 768px) {

    #cabecera-index {

        nav {
            display: none;
        }

        .cabecera-barra-index {
            display: flex;
            /* flex-direction: column; */
            justify-content: space-between;
            align-items: center;
            padding: 10px 5% 5px 5%;
            flex-direction: row; 
        }

        .cabecera-redes {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            gap: 10px;
        }

        .cabecera-nav-index {
            display: block;
            ul {
                li {
                    .inicio {
                        display: block;
                    }
                }
            }
        }  
    
    }
    #cabecera {
       .cabecera-barra {
            flex-direction: row;
        }

        .cabecera-nav {
            ul{
                li{
                    .inicio {
                        display: block;
                    }
                }
            }
        }
    } 
    
    #contenido {
        #servicios {
            .servicios-iconos {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    #pie {
        .pie-contenedor {
            flex-direction: row;

            .pie-redes {
                img {
                    width: 30px;
                    margin-right: 5px;
                    margin-top: 15px;

                }
            }
        }
    }

}

@media (min-width: 992px) {

    #cabecera-index {
        .cabecera-nav-index {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #cabecera {
        .cabecera-nav {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #contenido{
        #descripcion {
            flex-direction: row;
        }

        #servicios {
            .servicios-iconos {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
